
@import url(https://fonts.googleapis.com/css?family=Khula:700);
#code{
  height: inherit;
  width: inherit;
  border-radius: 5px;
  display: inherit;
  background-color: #23241f;

}
hr { 
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    color: white;
    border-width:30px;
} 

